<template>
    <div>
        <h2>User page</h2>
        <p v-for="user in users" :key='user.id'>
        <p>
        <router-link :
        to="{ 
            name :'UserSingle', 
            params: {
            id:12345}
        }" />
            {{ users.id }} {{ users.name }}
    </p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: [
                    { id:1, name:'john' }
                    { id:1, name:'mark' }
                    { id:1, name:'jack' }
                    { id:1, name:'elon' }
                ]
            }
        },
    }
</script>