<template>
  <div>
    <router-link to="{name: 'home'}">Home</router-link> |
    <router-link to="{name: 'about'}">About</router-link> |
    <router-link to="{name: 'UserSingle'}">User</router-link> |
  </div>
  <p>
    <button @click="$router.go">Go back 1 Step</button>
    <button @click="$router.go">Go Forward 1 Step</button>
    <button @click="$router.push('/about')">Redirect</button>
  </p>
  <router-view />
</template>

<style>
  .router-link-exact-active{
    color: red;
  }
</style>